%h1 FULL JOIN

%p
  %pre
    %code
      T1 FULL [OUTER] JOIN T2 ON boolean_expression
      T1 FULL [OUTER] JOIN T2 USING ( join column list )
      T1 NATURAL FULL [OUTER] JOIN T2

%p
  %img{src: '/images/img_fulljoin.gif'}

.row
  .col-md-6
    %h3 Books
    %table.table
      %thead
        %tr
          %th ID
          %th title
          %th category ID
      %tbody
        - @books.each do |book|
          %tr
            %td= book.id
            %td= book.title
            %td= book.category_id || "NULL"

  .col-md-6
    %h3 Categories
    %table.table
      %thead
        %tr
          %th ID
          %th name
      %tbody
        - @categories.each do |category|
          %tr
            %td= category.id
            %td= category.name


.row
  .col-md-12
    %h3 Result
    %table.table
      %thead
        %tr
          %th ID
          %th name
          %th category
      %tbody
        - @result.each do |row|
          %tr
            %td= row.id || "NULL"
            %td= row.title || "NULL"
            %td= row.name || "NULL"
